.banner-area {
    padding-top: 80px;
    padding-bottom: 100px;
    background-image: url('../../../assets/Images/banner-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    z-index: 1;
}

.banner-content h5 {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: var(--primary-color);
    margin-bottom: 2px;
}

.banner-content h2 {
    font-weight: 600;
    font-size: 55px;
    line-height: 80px;
    margin-bottom: 30px;
}

.banner-content p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: var(--body-color);
    margin-bottom: 40px;
}

.banner-image {
    text-align: center;
}

.banner-image img {
    display: inline-block !important;
    width: 100% !important;
    max-width: 550px !important;
}

.banner-area .animated-image img {
    position: absolute;
}

.animated-image img.a1-image {
    top: 0%;
    left: 43%;
    width: 410px !important;
}

.animated-image img.a2-image {
    top: 11%;
    left: 43%;
    width: 30px !important;
}

.animated-image img.a3-image {
    bottom: 13%;
    right: 32%;
    width: 81px !important;
    height: 81px;
}

.animated-image img.a4-image {
    width: 44px !important;
    top: 32%;
    left: 0%;
}

.animated-image img.a5-image {
    width: 252px !important;
    height: 187px;
    bottom: 0%;
    left: 0%;
}

.animated-image img.a6-image {
    width: 38px !important;
    height: 59px;
    top: 15%;
    left: 35%;
}

.heartbeat {
    animation: heartbeat 1s infinite alternate;
}

@keyframes heartbeat {
    to {
        transform: scale(1.2);
    }
}

.rotateme {
    animation: rotateme 15s infinite linear;
}

@keyframes rotateme {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (max-width:1300px) {
    .banner-content h2 {
        font-size: 55px;
        line-height: 85px;
    }
}

@media (max-width:1250px) {
    .banner-content h2 {
        font-size: 50px;
        line-height: 80px;
    }
}

@media (max-width:1200px) {
    .banner-content h2 {
        font-size: 43px;
        line-height: 65px;
        margin-bottom: 15px;
    }

    .banner-content p {
        margin-bottom: 20px;
    }
    .animated-image img.a1-image {
        width: 345px !important;
    }
}

@media (max-width:991px) {
    .animated-image img.a1-image {
        display: none !important;
    }

    .animated-image img.a2-image {
        display: none !important;
    }

    .animated-image img.a6-image {
        left: 20%;
        top: 5%;
    }
    .animated-image img.a3-image {
        bottom: 12%;
        right: 32%;
        width: 66px !important;
        height: 66px;
    }

    .banner-content {
        text-align: center;
        margin-bottom: 30px;
    }
}

@media (max-width:767px) {
    .banner-content h2 {
        font-size: 40px;
        line-height: 62px;
    }

    .banner-content h5 {
        font-size: 22px;
        line-height: 25px;
        margin-bottom: 0;
    }

    .banner-content p {
        font-size: 16px;
        line-height: 22px;
    }
    .banner-content {
        margin-bottom: 20px;
    }
}
@media (max-width:510px) {
    .banner-content h2 {
        font-size: 35px;
        line-height: 48px;
    }
    .banner-area{
        padding-top: 70px;
    }
}

@media (max-width:445px) {
    .animated-image img.a6-image {
        display: none !important;
    }
    .animated-image img.a4-image {
        display: none !important;
    }
    .banner-content h2 {
        font-size: 30px;
        line-height: 48px;
    }
    .banner-content p{
        font-size: 15px;
    }
    .banner-content h5 {
        font-size: 20px;
    }
    .banner-content {
        margin-bottom: 15px;
    }
}
@media (max-width: 385px) {
    .banner-content h2 {
        font-size: 25px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    .banner-content p{
        font-size: 14px;
        margin-bottom: 15px;
    }
    .animated-image img.a3-image {
        display: none !important;
    }
}